.app {
  min-height: 100vh;
}

/* Shared main layout */

.main {
  max-width: 1200px;
  min-height: 600px;
  margin: 0 auto;
  padding: 120px 40px;
}

.main__title {
  max-width: 750px;
  margin: 0;
  font-family: "Roboto Slab", Georgia, serif;
  font-size: 72px;
  line-height: 1.05;
  font-weight: 400;
}

.main__description {
  max-width: 520px;
  margin: 32px 0 0;
  font-size: 20px;
  line-height: 1.5;
  color: #666;
}

@media screen and (max-width: 700px) {
  .main {
    padding: 80px 20px;
  }

  .main__title {
    font-size: 48px;
  }

  .main__description {
    font-size: 18px;
  }
}
